*.apk
*.ap_

*.dex

*.class

bin/
gen/
out/

.gradle/

*.log

.navigation/

.idea/

*.jks

lint-report.html

jacoco.exec

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
